@using BTL.Models;
@model List<LOAI>

@foreach (var item in Model)
{
        <li>
            @Html.ActionLink(item.TenLoai, "SanPhamTheoLoai", "SanPhamUser", new { MaLoai = item.MaLoai }, null)
        </li>
}
