@model BTL.Models.SANPHAM
@{
    ViewBag.Title = "ChiTietSanPham";
    Layout = "~/Areas/User/Views/Shared/_LayoutShop.cshtml";
}

<i style="text-align: center; color: #757575; font-family: italic; font-size: 25px; padding-bottom: 15px;margin-left:2%">Our Perfume</i>

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />



<section class="single-product">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                
            </div>
            <div class="col-md-6">
                <ol class="product-pagination text-right">
                    
                </ol>
            </div>
        </div>
        <div class="row mt-20">
            <div class="col-md-5">
                <div class="single-product-slider">
                    <div id='carousel-custom' class='carousel slide' data-ride='carousel'>
                        <div class='carousel-outer'>
                            <!-- me art lab slider -->
                            <div class='carousel-inner '>
                                <div class='item active'>
                                    <img src='' class="anhsp" />
                                </div>
                                <div class='item'>
                                    <img src='' class="anhsp"  />
                                </div>

                                <div class='item'>
                                    <img src='' class="anhsp" />
                                </div>
                                <div class='item'>
                                    <img src=''  class="anhsp" />
                                </div>
                                <div class='item'>
                                    <img src='' class="anhsp"  />
                                </div>
                                <div class='item'>
                                    <img src='' class="anhsp" />
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <div class="single-product-details">
                    <h2 id="tensp">Nước hoa:</h2>
                    <p class="product-price" id="giasp">Giá: </p>

                    <p class="product-description mt-20" id="dungtich">
                      Dung tích: 0 ml
                    </p>
                    <p id="mota"></p>
                    <div class="color-swatches">
                    </div>
                    <a href="#" data-id="@ViewBag.MaSp" id="Themsanpham" class="btn btn-main mt-20">Thêm vào giỏ hàng</a>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    $.ajax({
        url: "https://localhost:44346/ChiTietSanPham?MaSP="+@ViewBag.MaSp,
        method: 'GET',
        success: function (response) {
            $(".anhsp").attr("src", `../../Resource/SanPham/${response.AnhSanPham}`)
            $("#tensp").text(`Nước hoa: ${response.TenSP}`)
            $("#giasp").text(`Giá: ${response.DonGia} VNĐ`)
            $("#dungtich").text(`Dung tích: ${response.DungTich} ml`)
            $("#mota").text(`${response.MoTaSanPham}`)
        }
    });
    $("#Themsanpham").click(function (e) {
        console.log("chay")
        let masp = e.target.getAttribute("data-id")
        e.preventDefault()
                console.log("/User/GioHang/ThemGioHang?sMaSp=" + masp)
                $.ajax({
                    url: "/User/GioHang/ThemGioHang?sMaSp=" + masp,
                    method: 'GET',
                    success: function (response) {
                        console.log($("#soluongaddgiohang"))
                        document.getElementById("soluongaddgiohang").innerHTML = response
                    },
                    error: function (response) {
                    }
                });

    })
</script>





